<!--
  Generated template for the PostEdit page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>post-edit</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-list text-wrap>
      <ion-item-divider light>
        <h2>Fill in all Information</h2>
      </ion-item-divider>
      <ion-item>
        <ion-label floating>Question</ion-label>
        <ion-input [(ngModel)]="post.post_title"></ion-input>
      </ion-item>


      <ion-item>
        <ion-label floating>ChoiceNo.1</ion-label>
        <ion-input [(ngModel)]="post.choice1" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>ChoiceNo.2</ion-label>
        <ion-input [(ngModel)]="post.choice2" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>ChoiceNo.3</ion-label>
        <ion-input [(ngModel)]="post.choice3"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>ChoiceNo.4</ion-label>
        <ion-input [(ngModel)]="post.choice4"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Answer</ion-label>
        <ion-textarea [(ngModel)]="post.answer" ></ion-textarea>
      </ion-item>

      <button ion-button (click)="onClickCreate()" *ngIf="!post_ID">Create</button>
      <button ion-button (click)="onClickCreate()" *ngIf="post_ID">Update</button>
      <button ion-button (click)="onClickBack()" *ngIf="!post_ID">Back</button>
      <button ion-button (click)="onClickBackToList()"*ngIf="post_ID">Back</button>
    </ion-list>







</ion-content>
