
    <ion-list text-wrap>
      <ion-item-divider light>
        <h2>{{ frmTitle }}</h2>
      </ion-item-divider>
      <ion-item>
        <ion-label floating>{{ 'Title' }}</ion-label>
        <ion-input [(ngModel)]="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>{{ 'Address' }}</ion-label>
        <ion-input text-wrap [(ngModel)]="address" ></ion-input>
      </ion-item>



      <ion-item>
        <ion-label floating>{{ 'Password' }}</ion-label>
        <ion-input [(ngModel)]="password" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>{{ 'Mobile No.' }}</ion-label>
        <ion-input [(ngModel)]="mobile" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>{{ 'Title'  }}</ion-label>
        <ion-input [(ngModel)]="post_title"></ion-input>
      </ion-item>


      <ion-item>
        <ion-label floating>{{ 'Content'  }}</ion-label>
        <ion-textarea [(ngModel)]="post_content" [class.focused]='isFocused' (focus)="isFocused=true"></ion-textarea>
      </ion-item>
      <ion-item>
        <button ion-button color="secondary" outline (click)="onClickPost()">POST CREATE SUBMIT</button>
      </ion-item>


    </ion-list>