<ion-header>
  <ion-navbar>
    <ion-title>{{ user?.user_nicename ? "Welcome, " + user.user_nicename : "Please, Login as admin" }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>

  <section *ngIf=" user && user.user_login == 'admin'">
    <button ion-button (click)="onClickAdd()">Add Question</button>
    <button ion-button (click)="onClickList()">List Question</button>
    <button ion-button (click)="onClickLogout()">Logout</button>
  </section>
  <section *ngIf= " ! user ">
    <ion-spinner></ion-spinner> Please login ...
  </section>

</ion-content>

  
