page-questionsform {
    ion-icon{
        font-size: 2em;      
    }

    .addIcon{
        color: darkcyan;
    }
    .btnIcon{
        background-color: transparent;
    }
    question-list{
        cursor: pointer;
    }
}
